$segment-height: 90px;
$segment-width: 30px;

$color-bg: black;

$color-on: rgba(255, 0, 0, 1);
$color-off: rgba(255, 0, 0, 0.1);

:root {
  font-family: system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $color-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.segment-container {
  display: inline-grid;
  margin: 10px;

  &.segment-container-7 {
    grid-template-columns: $segment-width $segment-height $segment-width;
    grid-template-rows: $segment-width $segment-height $segment-width $segment-height $segment-width;
    grid-template-areas:
      '  .   seg-a   .  '
      'seg-f   .   seg-b'
      '  .   seg-g   .  '
      'seg-e   .   seg-c'
      '  .   seg-d   .  ';
  }
}

.segment {
  background-color: $color-off;
  color: $color-off;
  text-align: center;

  &.segment-a {
    grid-area: seg-a;
  }

  &.segment-b {
    grid-area: seg-b;
  }

  &.segment-c {
    grid-area: seg-c;
  }

  &.segment-d {
    grid-area: seg-d;
  }

  &.segment-e {
    grid-area: seg-e;
  }

  &.segment-f {
    grid-area: seg-f;
  }

  &.segment-g {
    grid-area: seg-g;
  }
}

.svg-display {
  height: 250px;

  & > svg {
    height: 100%;
  }
}

.seg-group {
  transform: skew(-5deg) translateX(6px);
}

.on {
  background-color: $color-on;
  color: $color-on;
}

.svg-seg {
  fill: $color-off;
}

.svg-seg-on {
  fill: $color-on;
}

.display-main {
  display: inline-block;
  height: 250px;
}
